<% @tweets.each do |tweet| %>
    <div class="tweet">
        <%= link_to "@" + User.find(tweet.user_id).username, tweet, class:"tweet_user" %>
        <p class="tweet_body"><%= tweet.body %></p>
        <% if user_signed_in? %>
            <% if tweet.user_id == current_user.id %>
                <div class="tweet_nav">
                    <%= link_to 'edit', edit_tweet_path(tweet), class:"tweet_nav_button" %>
                    <%= link_to 'destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:"tweet_nav_button" %>
                </div>
            <% end %>
        <% end %>
    </div>
<% end %>