<div class="people">
    <div class="person">
        <img class="person_avatar", src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
        <div class="person_info">
            <div class="person_id">
                <p class="person_name">Placeholder name</p>
                <p class="person_handle">@placeholder</p>
            </div>
            <p class="person_bio">This is a placeholder</p>
        </div>
    </div>
    <div class="person">
        <img class="person_avatar", src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
        <div class="person_info">
            <div class="person_id">
                <p class="person_name">Placeholder name</p>
                <p class="person_handle">@placeholder</p>
            </div>
            <p class="person_bio">This is a placeholder</p>
        </div>
    </div>
    <div class="person">
        <img class="person_avatar", src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
        <div class="person_info">
            <div class="person_id">
                <p class="person_name">Placeholder name</p>
                <p class="person_handle">@placeholder</p>
            </div>
            <p class="person_bio">This is a placeholder</p>
        </div>
    </div>
</div>