<div class="trends">
    <p id="trends_title">Check out what's trending</p>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
    <a class="trend">#trendy</a>
</div>