<div class="container">
    <div class="column_1-5">
        <%= render "profile" %>
    </div>
    <div class="column_3-5">
        <%= render "feed" %>
    </div>
    <div class="column_1-5">
        <%= render "interests" %>
    </div>
</div>